export(filterRgn)
export(filterPeak)
export(combineRgn)
export(combineGrpRgn)
export(importBW)
export(readBED)
export(dPCA)
export(isEnh)
export(getId)
export(getId2)
export(getPromId)
export(order2)
export(pageRank)
export(edgeRank)
export(setGRank)
export(plotRank)
export(getRank)
export(plotD)
export(plotDPC)
export(exportD)
export(exportApps)
export(posId)
export(exportMultinets)
export(exportJSONnets)
export(exportJSONpathways)
export(annotNets)
export(writeData)
export(writeRank)
export(writeMarkers)
useDynLib(irene, .registration = TRUE)
import(S4Vectors)
import(XVector)
import(GenomeInfoDb)
import(IRanges)
importFrom(igraph, V)
importFrom(igraph, E)
importFrom(igraph, degree)
importFrom(igraph, page_rank)
importFrom(igraph, graph_from_data_frame)
importFrom(igraph, rewire)
importFrom(stats, runif)
importFrom(stats, optimize)
importFrom(stats, prcomp)
importFrom(stats, approxfun)
importFrom(utils, read.table)
importFrom(utils, write.csv)
importFrom(utils, untar)
importFrom(graphics, boxplot)
importFrom(graphics, barplot)
importFrom(graphics, plot)
importFrom(graphics, lines)
importFrom(graphics, par)
importFrom(graphics, legend)
importFrom(grDevices, png)
importFrom(grDevices, colorRampPalette)
importFrom(grDevices, dev.off)
import(GenomicRanges)
import(preprocessCore)
import(Rcpp)
import(parallel)
import(stringr)
import(enrichR)
