export(filterRgn)
export(filterPeak)
export(combineRgn)
export(combineGrpRgn)
export(importBW)
export(readBED)
export(dPCA)
export(isEnh)
export(getId)
export(getId2)
export(getPromId)
export(getPC)
export(getAdjGenes)
export(order2)
export(pageRank)
export(pageRank.fun)
export(edgeRank)
export(setGRank)
export(plotRank)
export(getRank)
export(plotD)
export(plotDPC)
export(exportD)
export(exportApps)
export(posId)
export(dTest)
export(exportMultinets)
export(exportJSONnets)
export(exportJSONpathways)
export(annotNets)
export(mergePCs)
export(mergeRanks)
export(plotPC)
export(plotRankFun)
export(plotPCgrp)
export(plotPGIDs)
export(plotAUC)
export(genModel)
export(distProb)
export(writeRank)
export(mergeList)
export(writeData)
useDynLib(crl, .registration = TRUE)
import(S4Vectors)
import(XVector)
import(GenomeInfoDb)
import(IRanges)
import(igraph)
import(ggplot2)
import(reshape2)
import(GenomicRanges)
import(preprocessCore)
import(Rcpp)
import(MASS)
import(parallel)
import(stringr)
import(enrichR)
