export(filterRgn)
export(filterPeak)
export(combineRgn)
export(combineGrpRgn)
export(importBW)
export(readBED)
export(dPCA)
export(isEnh)
export(getId)
export(getId2)
export(getPromId)
export(order2)
export(pageRank)
export(edgeRank)
export(setGRank)
export(plotRank)
export(getRank)
export(plotD)
export(plotDPC)
export(exportD)
export(exportApps)
export(posId)
export(exportMultinets)
export(exportJSONnets)
export(exportJSONpathways)
export(annotNets)
export(writeData)
useDynLib(irene, .registration = TRUE)
import(S4Vectors)
import(XVector)
import(GenomeInfoDb)
import(IRanges)
import(igraph)
import(GenomicRanges)
import(preprocessCore)
import(Rcpp)
import(parallel)
import(stringr)
import(enrichR)
